---
layout: page
title: Bookshelf
permalink: /bookshelf/
---

<div class="bookshelf-container">

    <div class="book-list">
        <h3>Currently Reading</h3>
        {% for book in site.data.books %}
        {% if book.status == 'reading' %}
        <div class="book-item">
            <div class="book-info">
                <a href="{{ book.url }}" target="_blank" class="book-title">
                    {{ book.title }}
                </a>
            </div>
            {% if book.review_url %}
            <div class="book-actions">
                <a href="{{ book.review_url }}" target="_blank" class="book-review-link" title="My Take/Review">
                    <i class="bi bi-bookmark-star-fill"></i>
                </a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}

        <h3>Books with Reviews</h3>
        {% for book in site.data.books %}
        {% if book.review_url %}
        <div class="book-item">
            <div class="book-info">
                <a href="{{ book.url }}" target="_blank" class="book-title">
                    {{ book.title }}
                </a>
            </div>
            <div class="book-actions">
                <a href="{{ book.review_url }}" target="_blank" class="book-review-link" title="My Take/Review">
                    <i class="bi bi-bookmark-star-fill"></i>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="goodreads-widget-container">
        <h3>Complete list : <a href="https://www.goodreads.com/review/list/87723774-raghav-bali?ref=nav_mybooks&shelf=read&sort=date_read">goodreads</a></h3>
        <p>What are you reading currently? <a href="https://twitter.com/rghv_bali">Let me know!</a></p>

        <!-- Goodreads Widget -->
        <style type="text/css" media="screen">
            .gr_grid_container {
                /* customize grid container div here. eg: width: 500px; */
            }

            .gr_grid_book_container {
                /* customize book cover container div here */
                float: left;
                width: 98px;
                height: 160px;
                padding: 0px 0px;
                overflow: hidden;
            }
        </style>
        <div id="gr_grid_widget_1746707715">
            <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <div class="gr_grid_container">
                <div class="gr_grid_book_container"><a title="Of Mice and Men" rel="nofollow" href="https://www.goodreads.com/book/show/890.Of_Mice_and_Men"><img alt="Of Mice and Men" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1511302904l/890._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Kite Runner" rel="nofollow" href="https://www.goodreads.com/book/show/77203.The_Kite_Runner"><img alt="The Kite Runner" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1579036753l/77203._SY160_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="チェンソーマン 4 [Chainsaw Man 4]" rel="nofollow" href="https://www.goodreads.com/book/show/49966677-4-chainsaw-man-4"><img alt="チェンソーマン 4 [Chainsaw Man 4]" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1570033159l/49966677._SX98_SY160_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Four Thousand Weeks: Time Management for Mortals" rel="nofollow" href="https://www.goodreads.com/book/show/54785515-four-thousand-weeks"><img alt="Four Thousand Weeks: Time Management for Mortals" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1627425434l/54785515._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Staff Engineer's Path: A Guide for Individual Contributors Navigating Growth and Change" rel="nofollow" href="https://www.goodreads.com/book/show/61058107-the-staff-engineer-s-path"><img alt="The Staff Engineer's Path: A Guide for Individual Contributors Navigating Growth and Change" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1661205628l/61058107._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Working Backwards: Insights, Stories, and Secrets from Inside Amazon" rel="nofollow" href="https://www.goodreads.com/book/show/53138083-working-backwards"><img alt="Working Backwards: Insights, Stories, and Secrets from Inside Amazon" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1606707026l/53138083._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Chainsaw Man, Vol. 3" rel="nofollow" href="https://www.goodreads.com/book/show/54303329-chainsaw-man-vol-3"><img alt="Chainsaw Man, Vol. 3" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1606066788l/54303329._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Trustworthy Online Controlled Experiments: A Practical Guide to A/B Testing" rel="nofollow" href="https://www.goodreads.com/book/show/51635906-trustworthy-online-controlled-experiments"><img alt="Trustworthy Online Controlled Experiments: A Practical Guide to A/B Testing" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1580806782l/51635906._SX98_SY160_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Chainsaw Man, Vol. 2" rel="nofollow" href="https://www.goodreads.com/book/show/51323367-chainsaw-man-vol-2"><img alt="Chainsaw Man, Vol. 2" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595770794l/51323367._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Chainsaw Man, Vol. 1: Dog and Chainsaw" rel="nofollow" href="https://www.goodreads.com/book/show/55575967-chainsaw-man-vol-1"><img alt="Chainsaw Man, Vol. 1: Dog and Chainsaw" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1617389215l/55575967._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Staff Engineer: Leadership Beyond the Management Track" rel="nofollow" href="https://www.goodreads.com/book/show/56481725-staff-engineer"><img alt="Staff Engineer: Leadership Beyond the Management Track" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1609348975l/56481725._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Assassination of Rajiv Gandhi" rel="nofollow" href="https://www.goodreads.com/book/show/31455657-the-assassination-of-rajiv-gandhi"><img alt="The Assassination of Rajiv Gandhi" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1471320569l/31455657._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Earned Life: Lose Regret, Choose Fulfillment" rel="nofollow" href="https://www.goodreads.com/book/show/58735020-the-earned-life"><img alt="The Earned Life: Lose Regret, Choose Fulfillment" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1636977926l/58735020._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life" rel="nofollow" href="https://www.goodreads.com/book/show/28257707-the-subtle-art-of-not-giving-a-f-ck"><img alt="The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1465761302l/28257707._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="How Not to Be Wrong: The Power of Mathematical Thinking" rel="nofollow" href="https://www.goodreads.com/book/show/18693884-how-not-to-be-wrong"><img alt="How Not to Be Wrong: The Power of Mathematical Thinking" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387726285l/18693884._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Shantaram" rel="nofollow" href="https://www.goodreads.com/book/show/33600.Shantaram"><img alt="Shantaram" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1333482282l/33600._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Steve Jobs" rel="nofollow" href="https://www.goodreads.com/book/show/11084145-steve-jobs"><img alt="Steve Jobs" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1511288482l/11084145._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The War of the Worlds" rel="nofollow" href="https://www.goodreads.com/book/show/8909.The_War_of_the_Worlds"><img alt="The War of the Worlds" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320391644l/8909._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Origin (Robert Langdon, #5)" rel="nofollow" href="https://www.goodreads.com/book/show/32315293-origin"><img alt="Origin" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1498794232l/32315293._SX98_.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="A Thousand Splendid Suns" rel="nofollow" href="https://www.goodreads.com/book/show/128029.A_Thousand_Splendid_Suns"><img alt="A Thousand Splendid Suns" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1655336738l/128029._SX98_.jpg" /></a></div>
                <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/87723774-raghav-bali">Raghav Bali's favorite books »</a>
                <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Raghav, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
            </div>
        </div>
        <script src="https://www.goodreads.com/review/grid_widget/87723774.Raghav's%20bookshelf:%20read?cover_size=medium&hide_link=&hide_title=true&num_books=100&order=d&shelf=read&sort=date_added&widget_id=1746707715" type="text/javascript" charset="utf-8"></script>

    </div>
</div>
